.br-767 {
    @media (min-width:768px) {
        display: none;
    }
}
header {
    background-color: white;
    position: fixed;
    z-index: 3;
    width: 100%;
    .header {
        display: flex;
        align-items: center;
        width: 1180px;
        height: 70px;
        margin: 0 auto;
        padding: 0 10px;    
        @media (max-width:1190px) {
            width: auto;
        }
        @media (max-width:767px) {
            height: 65px;
            padding: 0;
        }    
        .header-left {
            display: flex;
            align-items: center;
            @media (max-width:767px) {
                flex-direction: column-reverse;
                align-items: start;
                padding-left: 10px;
            }    
            img {
                height: 45px;
                margin-right: 5px;
                @media (max-width:767px) {
                    height: 35px;
                }        
            }
            span {
                font-size: 14px;
                font-weight: bolder;
                letter-spacing: 2px;
                margin-top: 17px;
                @media (max-width:1190px) {
                    font-size: 12px;
                    letter-spacing: 0;
                }
                @media (max-width:767px) {
                    font-size: 10px;
                    margin-top: 3px;
                }    
            }
        }
        .header-right {
            margin-left: auto;
            span {
                font-size: 14px;
                font-weight: lighter;
                letter-spacing: 2px;
                padding: 12px 42px;
                border-radius: 100px;
                background-color: rgb(219, 107, 100);
                color: white;
                &:hover {
                    background-color: rgb(217, 73, 64);
                }
                @media (max-width:1190px) {
                    font-size: 12px;
                    letter-spacing: 0;
                }
                @media (max-width:767px) {
                    display: none;
                }        
            }
            .header-form {
                display: none;
                height: 65px;
                background-color: rgb(219, 107, 100);
                &:hover {
                    background-color: rgb(217, 73, 64);
                }
                @media (max-width:767px) {
                    display: flex;
                    flex-direction: column;
                }
                img {
                    width: 22px;
                    margin: 10px auto 1px auto;
                }
                p {
                    color: white;
                    font-size: 12px;
                    letter-spacing: 2px;
                    margin: 0 10px;
                }
            }
        }
    }
}
.blank {
    height: 70px;
    @media (max-width:767px) {
        height: 65px;
    }    
}
.title {
    height: 500px;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    @media (max-width:767px) {
        height: 310px;
        background-image: url(../img/mainsp.jpg);
    }
    h1 {
        font-size: 28px;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 55px;
        padding-top: 90px;
        @media (max-width:1190px) {
            font-size: 23px;
            line-height: 47px;
            padding-top: 100px;
        }
        @media (max-width:767px) {
            font-size: 18px;
            line-height: 28px;
            padding-top: 20px;
        }
    }
    img {
        height: 110px;
        margin-top: 0;
    }
    p {
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 22px;
        padding-top: 43px;
        @media (max-width:1190px) {
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 18px;
        }
        @media (max-width:767px) {
            font-size: 15px;
            line-height: 16px;
        }
    }
}
.recruit {
    height: 610px;
    background-color: rgb(235, 186, 77);
    text-align: center;
    @media (max-width:1190px) {
        height: 470px;
    }
    @media (max-width:767px) {
        height: 525px;
    }
    h1 {
        color: white;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 33px;
        padding: 30px 0 6px 0;
        @media (max-width:1190px) {
            font-size: 16px;
            line-height: 26px;
        }
        @media (max-width:767px) {
            font-size: 15px;
            line-height: 24px;
            padding: 15px 0 3px 0;
        }
    }
    .recruit-fee {
        color: rgb(200, 37, 78);
        font-size: 18px;
        font-weight: bolder;
        letter-spacing: 1px;
        background-color: white;
        padding: 2px;
        border-radius: 5px;
        @media (max-width:1190px) {
            font-size: 14px;
        }
        @media (max-width:767px) {
            font-size: 14px;
        }
    }
    .recruit-form {
        color: white;
        font-size: 27px;
        font-weight: bolder;
        letter-spacing: 2px;
        background-color: rgb(219, 107, 100);
        border-radius: 100px;
        padding: 30px 0;
        width: 1025px;
        margin: 50px auto 0 auto;
        &:hover {
            background-color: rgb(217, 73, 64);
        }
        @media (max-width:1190px) {
            font-size: 18px;
            letter-spacing: 1px;
            padding: 25px 0;
            width: auto;
            margin: 12px 85px 0 85px;
        }
        @media (max-width:767px) {
            font-size: 19px;
            padding: 20px 0;
            margin: 30px 20px 0 20px;
        }
    }
    div {
        line-height: 50px;
        margin-top: 55px;
        margin-bottom: 20px;
        @media (max-width:1190px) {
            line-height: 40px;
            margin-top: 25px;
        }
        @media (max-width:767px) {
            margin-bottom: 25px;        
        }
        .recruit-deadline {
            color: white;
            font-size: 21px;
            font-weight: bolder;
            letter-spacing: 2px;
            @media (max-width:1190px) {
                font-size: 18px;
                letter-spacing: 0;
            }
            @media (max-width:767px) {
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 25px;        
            }    
        }
    }
    @mixin recruit {
        color: white;
        font-size: 12px;
        padding: 3px 3px 3px 7px;
        border-radius: 3px;
        margin: 0 3px;
        text-decoration: none;
    }
    .recruit-twitter {
        @include recruit;
        background-color: rgb(27, 149, 224);
        &:hover {
            background-color: rgb(13, 122, 191);
        }
    }
    .recruit-good {
        @include recruit;
        background-color: rgb(24, 119, 242);
    }
    .recruit-share {
        @include recruit;
        background-color: rgb(24, 119, 242);
        padding: 3px 7px;
    }
}
.true-freedom {
    background-image: url(../img/introbottom.jpg);
    background-size: cover;
    background-position: center;
    height: 630px;
    @media (max-width:1190px) {
        height: 595px;
    }
    @media (max-width:767px) {
        height: 690px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .true-freedom-top {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        width: 890px;
        margin: 0 auto;
        padding: 40px 20px 0 20px;
        @media (max-width:890px) {
            width: auto;
        }
        @media (max-width:767px) {
            padding-top: 30px;
        }
        .brackets-1 {
            border-top: solid 4px rgb(235, 186, 77);
            border-left: solid 4px rgb(235, 186, 77);
            width: 50px;
            height: 50px;
            @media (max-width:767px) {
                width: 30px;
                height: 30px;
            }
        }
        h1 {
            font-size: 28px;
            font-weight: bolder;
            letter-spacing: 2px;
            margin-top: 40px;
            @media (max-width:1190px) {
                font-size: 23px;
                margin-top: 40px;
            }
            @media (max-width:767px) {
                text-align: center;
                font-size: 18px;
                line-height: 40px;
                margin-top: 25px;
            }
        }
        .brackets-2 {
            border-bottom: solid 4px rgb(235, 186, 77);
            border-right: solid 4px rgb(235, 186, 77);
            width: 50px;
            height: 50px;
            margin-top: 50px;
            @media (max-width:767px) {
                width: 30px;
                height: 30px;
                margin-top: 90px;
            }
        }    
    }
    .true-freedom-main {
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 32px;
        @media (max-width:1190px) {
            font-size: 16px;
            line-height: 25px;
        }
        @media (max-width:767px) {
            font-size: 15px;
            letter-spacing: 0;
        }
        p {
            margin: 30px 0;
            @media (max-width:1190px) {
                margin: 25px 0;
            }
            @media (max-width:767px) {
                margin: 30px 0;
            }
        }
        span {
            font-weight: bolder;
            background: linear-gradient(transparent 70%, rgb(235, 185, 77) 0%);
        }
    }
    .true-freedom-about {
        width: 80px;
        height: 80px;
        background-color: rgb(231, 183, 76);
        border-radius: 100px;
        margin: 0 auto;
        text-align: center;
        padding-top: 27px;
        margin-top: 120px;
        color: white;
        letter-spacing: 2px;
        position: relative;
        z-index: 2;
        @media (max-width:1190px) {
            margin-top: 150px;
        }
        @media (max-width:767px) {
            width: 65px;
            height: 65px;    
            font-size: 14px;
            padding-top: 22px;
            margin-top: 50px;
        }
    }
}
.whats-isara {
    background-color: rgb(254, 245, 224);
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 70px;
    .whats-isara-top {
        display: flex;
        justify-content: space-between;
        padding: 60px 20px 0 20px;
        width: 850px;
        margin: 0 auto;
        @media (max-width:1190px) {
            padding-top: 55px;
        }
        @media (max-width:851px) {
            width: auto;
        }
        @media (max-width:767px) {
            padding-top: 80px;
        }
        .brackets-1 {
            border-top: solid 4px rgb(235, 186, 77);
            border-left: solid 4px rgb(235, 186, 77);
            width: 50px;
            height: 50px;
            @media (max-width:767px) {
                width: 30px;
                height: 30px;
            }
        }
        h1 {
            font-size: 28px;
            font-weight: bolder;
            letter-spacing: 2px;
            padding-top: 60px;
            line-height: 40px;
            @media (max-width:1190px) {
                font-size: 24px;
            }
            @media (max-width:767px) {
                font-size: 17px;
                padding-top: 20px;
            }
        }
        .brackets-2 {
            border-bottom: solid 4px rgb(235, 186, 77);
            border-right: solid 4px rgb(235, 186, 77);
            width: 50px;
            height: 50px;
            margin-top: 115px;
            @media (max-width:767px) {
                width: 30px;
                height: 30px;
                margin-top: 90px;
            }
        }
    }
    p {
        font-size: 21px;
        font-weight: bolder;
        letter-spacing: 2px;
        margin-top: 25px;
        margin-bottom: 30px;
        @media (max-width:1190px) {
            font-size: 16px;
        }
        @media (max-width:767px) {
            font-size: 15px;
            margin-top: -14px;
            margin-bottom: 33px;
        }
    }
    .whats-isara-main {
        background-color: white;
        width: 1170px;
        margin: 0 auto;
        border: solid rgb(235, 186, 77) 2px;
        border-radius: 5px;
        @media (max-width:1190px) {
            width: auto;
            margin: 0 20px;
        }
        h1 {
            font-size: 20px;
            font-weight: bolder;
            letter-spacing: 2px;
            margin-top: 35px;
            @media (max-width:1190px) {
                font-size: 16px;
            }
            @media (max-width:767px) {
                font-size: 15px;
                margin-top: 10px;
                line-height: 24px;
            }
        }
        .whats-isara-slills {
            margin-top: 35px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @media (max-width:767px) {
                margin-top: 17px;
                margin-bottom: -10px;
            }
            @mixin whats-isara-slills($margin-top, $width) {
                margin: 0 15px;
                margin-top: $margin-top;
                @media (max-width:767px) {
                    margin: 0 10px;
                }
                img {
                    @media (max-width:767px) {
                        width: $width;
                    }
                }
                p {
                    font-size: 12px;
                    font-weight: lighter;
                    margin-top: 12px;
                    @media (max-width:767px) {
                        font-size: 10px;
                    }
                }    
            }
            .whats-isara-skills-1 {
                @include whats-isara-slills(2px, 32px);
            }
            .whats-isara-skills-2 {
                @include whats-isara-slills(-11px, 32px);
            }
            .whats-isara-skills-3 {
                @include whats-isara-slills(0, 25px);
            }
            .whats-isara-skills-4 {
                @include whats-isara-slills(6px, 32px);
            }
            .whats-isara-skills-5 {
                @include whats-isara-slills(9px, 80px);
            }
        }
    }
}
.dont-teach {
    background-image: url(../img/aboutsecondbg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    h1 {
        color: white;
        font-size: 28px;
        font-weight: bolder;
        letter-spacing: 2px;
        padding-top: 65px;
        @media (max-width:1190px) {
            font-size: 23px;
        }
        @media (max-width:767px) {
            font-size: 17px;
            padding-top: 50px;
        }
    }
    h2 {
        color: white;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 2px;
        margin-top: 26px;
        @media (max-width:1190px) {
            font-size: 16px;
        }
        @media (max-width:767px) {
            font-size: 13px;
            letter-spacing: 1px;
            margin-top: 22px;
        }
    }
    h3 {
        color: white;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 2px;
        margin-top: 18px;
        @media (max-width:1190px) {
            font-size: 16px;
        }
        @media (max-width:767px) {
            font-size: 13px;
            letter-spacing: 1px;
            margin-top: 15px;
        }
        span {
            color: rgb(235, 186, 77);
        }
    }
    .dont-teach-steps {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        padding-bottom: 20px;
        @media (max-width:1190px) {
            flex-direction: column;
            padding-bottom: 40px;
        }
        @media (max-width:767px) {
            padding-bottom: 35px;
        }
        .dont-teach-step {
            background-color: white;
            margin: 0 10px 20px 10px;
            width: 370px;
            height: 175px;
            border-radius: 5px;
            @media (max-width:1190px) {
                margin: 0 31% 20px 31%;
                width: auto;
                height: 170px;
            }
            @media (max-width:767px) {
                margin: 0 33px 15px 33px; 
                height: 110px;
            }
            h4 {
                color: white;
                background-color: rgb(235, 186, 77);
                font-size: 18px;
                letter-spacing: 2px;
                margin: 30px;
                margin-bottom: 0;
                padding: 2px 0;
                border-radius: 5px;
                @media (max-width:1190px) {
                    font-size: 15px;
                }
                @media (max-width:767px) {
                    font-size: 14px;
                    margin: 15px 50px 0 50px;
                }
            }
            h5 {
                font-size: 14px;
                font-weight: bolder;
                letter-spacing: 2px;
                margin-top: 33px;
                @media (max-width:1190px) {
                    font-size: 12px;
                    letter-spacing: 0;
                }
                @media (max-width:767px) {
                    margin-top: 19px;
                }
            }
            h6 {
                font-weight: bolder;
                letter-spacing: 2px;
                margin-top: 20px;
                @media (max-width:1190px) {
                    font-size: 14px;
                }
                @media (max-width:767px) {
                    font-size: 12px;
                    margin-top: 11px;
                }
            }
        }
    }
}
.other-than-skill {
    text-align: center;
    background-color: rgb(1, 110, 170);
    padding: 40px 0 20px 0;
    @media (max-width:1190px) {
        padding-top: 35px;
    }
    @media (max-width:767px) {
        padding: 21px 0 5px 0;
    }
    p {
        color: white;
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 2px;
        line-height: 33px;
        @media (max-width:1190px) {
            font-size: 16px;
            line-height: 26px;
        }
        @media (max-width:767px) {
            font-size: 12px;
            line-height: 19px;
        }
        span {
            color: rgb(235, 186, 77);
        }
    }
}
.whats-learning {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 35px;
    @media (max-width:767px) {
        padding-top: 50px;
        padding-bottom: 13px;
    }
    h1 {
        font-size: 28px;
        font-weight: bolder;
        letter-spacing: 2px;
        @media (max-width:1190px) {
            font-size: 24px;
        }
        @media (max-width:767px) {
            font-size: 18px;
        }
        span {
            font-size: 15px;
            @media (max-width:1190px) {
                font-size: 14px;
            }
            @media (max-width:767px) {
                font-size: 12px;
            }
        }
    }
    h2 {
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 48px;
        @media (max-width:1190px) {
            font-size: 16px;
        }
        @media (max-width:767px) {
            font-size: 15px;
            line-height: 25px;
        }
    }
    .whats-learning-skills {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        @media (max-width:1190px) {
            margin-top: 60px;
        }
        @media (max-width:767px) {
            margin: 0 50px;
            margin-top: 15px;
        }
        img {
            width: 180px;
            margin: 0 20px;
            @media (max-width:882px) {
                width: 20%;
            }
            @media (max-width:767px) {
                margin: auto;
            }
        }    
    }
    p {
        font-weight: bolder;
        letter-spacing: 2px;
        margin-top: 40px;
        @media (max-width:1190px) {
            font-size: 14px;
            margin-top: 55px;
        }
        @media (max-width:767px) {
            font-size: 12px;
            margin-top: 23px;
        }
    }
}
.merit {
    background-color: rgb(254, 245, 224);
    padding-top: 43px;
    @media (max-width:1190px) {
        padding-top: 30px;
    }
    .merit-top {
        display: flex;
        justify-content: space-between;
        width: 880px;
        margin: 0 auto;
        @media (max-width:1014px) {
            width: auto;
            margin: 0 70px;
        }
        @media (max-width:767px) {
            margin: 0 20px;
        }
        .brackets-1 {
            border-top: solid 4px rgb(235, 186, 77);
            border-left: solid 4px rgb(235, 186, 77);
            width: 50px;
            height: 50px;
            @media (max-width:767px) {
                width: 30px;
                height: 30px;
            }
        }
        .merit-top-title {
            text-align: center;
            h1 {
                font-size: 20px;
                font-weight: bolder;
                letter-spacing: 2px;
                margin-top: 30px;
                @media (max-width:1190px) {
                    font-size: 16px;
                }
                @media (max-width:767px) {
                    font-size: 15px;
                }
            }
            h2 {
                font-size: 28px;
                font-weight: bolder;
                letter-spacing: 2px;
                margin-top: 10px;
                @media (max-width:1190px) {
                    font-size: 24px;
                }
                @media (max-width:767px) {
                    font-size: 19px;
                    margin-top: 20px;
                }
            }
        }
        .brackets-2 {
            border-bottom: solid 4px rgb(235, 186, 77);
            border-right: solid 4px rgb(235, 186, 77);
            width: 50px;
            height: 50px;
            margin-top: 70px;
            @media (max-width:767px) {
                width: 30px;
                height: 30px;
                margin-top: 40px;
            }
            @media (max-width:767px) {
                margin-top: 100px;
            }
        }
    }
    .merit-main {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 35px;
        @media (max-width:1190px) {
            justify-content: space-between;
            margin-right: 80px;
            margin-left: 80px;
        }
        @media (max-width:1061px) {
            flex-direction: column;
            width: 300px;
            margin-right: auto;
            margin-left: auto;
        }
        @media (max-width:767px) {
            margin-top: 3px;
            margin-bottom: 20px;
        }
        .merit-main-merit {
            width: 360px;
            margin: 0 15px;
            @media (max-width:1190px) {
                width: 300px;
                margin: 0;
            }
            img {
                width: 100%;
            }
            h1 {
                color: rgb(235, 186, 77);
                font-size: 20px;
                font-weight: bolder;
                letter-spacing: 2px;
                margin-top: 13px;
                @media (max-width:1190px) {
                    text-align: center;
                    font-size: 16px;
                }
                @media (max-width:767px) {
                    font-size: 15px;
                }
            }
            p {
                letter-spacing: 2px;
                margin-top: 13px;
                @media (max-width:1190px) {
                    font-size: 14px;
                }
                @media (max-width:767px) {
                    font-size: 12px;
                }
            }
        }
    }
    .merit-support {
        background-color: white;
        text-align: center;
        width: 1150px;
        margin: 0 auto;
        border: solid rgb(235, 186, 77) 2px;
        border-radius: 5px;
        @media (max-width:1190px) {
            width: auto;
            margin: 0 70px;
        }
        @media (max-width:767px) {
            margin: 0 20px;
        }
        h1 {
            color: rgb(235, 186, 77);
            font-size: 28px;
            font-weight: bolder;
            letter-spacing: 2px;
            margin-top: 45px;
            @media (max-width:1190px) {
                font-size: 24px;
            }
            @media (max-width:767px) {
                font-size: 18px;
                margin-top: 15px;
            }
        }
        h2 {
            font-size: 19px;
            font-weight: bolder;
            letter-spacing: 2px;
            margin-top: 20px;
            @media (max-width:1190px) {
                font-size: 16px;
            }
            @media (max-width:767px) {
                font-size: 15px;
                line-height: 25px;
            }
        }
        p {
            font-size: 16px;
            font-weight: bolder;
            letter-spacing: 2px;
            line-height: 25px;
            margin-top: 15px;
            margin-bottom: 45px;
            @media (max-width:1190px) {
                font-size: 14px;
            }
            @media (max-width:767px) {
                font-size: 10px;
                letter-spacing: 0;
                line-height: 16px;
                margin-bottom: 20px;
            }
        }
    }
    .merit-bottom {
        padding: 40px 0 30px 0;
        @media (max-width:767px) {
            padding: 15px 0 20px 0;
        }
        p {
            text-align: center;
            font-size: 14px;
            letter-spacing: 1px;
            @media (max-width:1190px) {
                font-size: 12px;
            }
        }
    }
}
.founding {
    text-align: center;
    background-image: url(../img/teacherbg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 90px;
    padding-bottom: 45px;
    @media (max-width:1190px) {
        padding-top: 100px;
    }
    @media (max-width:767px) {
        background-image: url(../img/teacherbgsp.jpg);
        padding-top: 70px;
        padding-bottom: 20px;
    }
    h1 {
        color: white;
        font-size: 28px;
        font-weight: bolder;
        letter-spacing: 2px;
        @media (max-width:1190px) {
            font-size: 24px;
        }
        @media (max-width:767px) {
            font-size: 18px;
        }
    }
    p {
        color: white;
        font-size: 16px;
        letter-spacing: 2px;
        margin-top: 35px;
        @media (max-width:1190px) {
            font-size: 14px;
            margin-top: 38px;
        }
        @media (max-width:767px) {
            font-size: 12px;
            margin-top: 42px;
        }
    }
    .founding-members {
        .founding-members-block {
            display: flex;
            width: 800px;
            margin: 0 auto;
            margin-top: 200px;
            @media (max-width:991px) {
                flex-direction: column;
                width: auto;
                margin-top: 0;
            }
            .founding-members-member {
                width: 50%;
                border: solid white 3px;
                margin: 0 15px;
                @media (max-width:991px) {
                    width: auto;
                    margin: 0 50px;
                    margin-top: 200px;
                }
                @media (max-width:767px) {
                    margin: 0 10px;
                    margin-top: 115px;
                }
                img {
                    border-radius: 100px;
                    margin-top: -165px;
                    @media (max-width:767px) {
                        width: 120px;
                        margin-top: -87px;
                    }
                }
                p {
                    margin: 10px 40px 10px 40px;
                    @media (max-width:767px) {
                        font-size: 12px;
                        margin: 10px;
                    }
                }
                .founding-members-member-message {
                    text-align: left;
                    margin-bottom: 50px;
                    @media (max-width:767px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
.question {
    background-color: rgb(235, 186, 77);
    padding-top: 40px;
    padding-bottom: 25px;
    @media (max-width:767px) {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    h1 {
        background-color: white;
        width: 80px;
        height: 80px;
        border-radius: 100px;
        margin: 0 auto;
        font-size: 15px;
        letter-spacing: 2px;
        color: rgb(235, 186, 77);
        text-align: center;
        padding-top: 29px;
        @media (max-width:1190px) {
            font-size: 23px;
            padding-top: 26px;
        }
        @media (max-width:767px) {
            width: 60px;
            height: 60px;
            font-size: 14px;
            padding-top: 22px;
        }
    }
    .question-main {
        display: flex;
        justify-content: space-between;
        width: 910px;
        margin: 0 auto;
        @media (max-width:909px) {
            width: auto;
        }
        .brackets-1 {
            border-top: solid 4px white;
            border-left: solid 4px white;
            width: 50px;
            height: 50px;
            margin-left: 20px;
            @media (max-width:767px) {
                width: 30px;
                height: 30px;
            }
        }
        p {
            text-align: center;
            color: white;
            font-size: 28px;
            font-weight: bolder;
            letter-spacing: 2px;
            padding-top: 17px;
            @media (max-width:1190px) {
                font-size: 18px;
                padding-top: 23px;
            }
            @media (max-width:767px) {
                font-size: 14px;
                padding-top: 20px;
                line-height: 40px;
            }
        }
        .brackets-2 {
            border-bottom: solid 4px white;
            border-right: solid 4px white;
            width: 50px;
            height: 50px;
            margin-top: 65px;
            margin-right: 20px;
            @media (max-width:767px) {
                width: 30px;
                height: 30px;
            }
            @media (max-width:767px) {
                margin-top: 80px;
            }
        }
    }
}
.answer {
    text-align: center;
    padding-bottom: 20px;
    @media (max-width:767px) {
        padding: 0;
    }
    .triangle {
        border-top: solid 25px rgb(235, 186, 77);
        border-right: solid 25px transparent;
        border-bottom: solid 25px transparent;
        border-left: solid 25px transparent;
        width: 0;
        height: 0;
        margin: 0 auto;
        @media (max-width:767px) {
            border-top: solid 15px rgb(235, 186, 77);
            border-right: solid 15px transparent;
            border-bottom: solid 15px transparent;
            border-left: solid 15px transparent;    
        }
    }
    h1 {
        font-size: 28px;
        font-weight: bolder;
        letter-spacing: 2px;
        @media (max-width:1190px) {
            font-size: 24px;
        }
        @media (max-width:767px) {
            font-size: 18px;
        }
    }
    h2 {
        font-size: 16px;
        font-weight: bolder;
        letter-spacing: 2px;
        margin-top: 20px;
        @media (max-width:1190px) {
            font-size: 14px;
        }
        @media (max-width:767px) {
            font-size: 12px;
            letter-spacing: 1px;
        }
    }
    h3 {
        font-size: 14px;
        font-weight: lighter;
        letter-spacing: 2px;
        margin-top: 38px;
        @media (max-width:1190px) {
            font-size: 12px;
            letter-spacing: 0;
        }
        @media (max-width:767px) {
            line-height: 19px;
        }
    }
    .answer-person {
        display: flex;
        width: 780px;
        margin: 33px auto 40px auto;
        @media (max-width:991px) {
            width: auto;
            margin: 33px 20px 40px 20px;
        }
        @media (max-width:767px) {
            margin: 33px 10px 40px 10px;
        }
        img {
            width: 230px;
            border: solid rgb(235, 186, 77) 3px;
            @media (max-width:991px) {
                width: 30%;
                margin-bottom: auto;
            }
        }
        .answer-person-message {
            text-align: left;
            padding: 20px 0 20px 30px;
            color: rgb(119, 119, 119);
            font-style: italic;
            font-size: 17px;
            letter-spacing: 2px;
            @media (max-width:767px) {
                padding: 0 0 0 15px;
                font-size: 14px;
            }
            .answer-person-message-bottom {
                display: inline;
                font-size: 15px;
                border-bottom: solid rgb(119, 119, 119) 1px;
            }
        }
    }
}
.learn-content {
    background-image: url(../img/classbg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    h1 {
        color: white;
    }
    p {
        color: white;
    }
    .learn-content-lists {
        display: flex;
        justify-content: center;
        .learn-content-list {
            background-color: white;
            h1 {
                background-color: rgb(1, 110, 170);
            }
            p {
                color: black;
            }
        }
    }
}