@media (min-width: 768px) {
  .br-767 {
    display: none;
  }
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1180px;
  height: 70px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1190px) {
  header .header {
    width: auto;
  }
}

@media (max-width: 767px) {
  header .header {
    height: 65px;
    padding: 0;
  }
}

header .header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  header .header .header-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 10px;
  }
}

header .header .header-left img {
  height: 45px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  header .header .header-left img {
    height: 35px;
  }
}

header .header .header-left span {
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 17px;
}

@media (max-width: 1190px) {
  header .header .header-left span {
    font-size: 12px;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  header .header .header-left span {
    font-size: 10px;
    margin-top: 3px;
  }
}

header .header .header-right {
  margin-left: auto;
}

header .header .header-right span {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 12px 42px;
  border-radius: 100px;
  background-color: #db6b64;
  color: white;
}

header .header .header-right span:hover {
  background-color: #d94940;
}

@media (max-width: 1190px) {
  header .header .header-right span {
    font-size: 12px;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  header .header .header-right span {
    display: none;
  }
}

header .header .header-right .header-form {
  display: none;
  height: 65px;
  background-color: #db6b64;
}

header .header .header-right .header-form:hover {
  background-color: #d94940;
}

@media (max-width: 767px) {
  header .header .header-right .header-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .header .header-right .header-form img {
  width: 22px;
  margin: 10px auto 1px auto;
}

header .header .header-right .header-form p {
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0 10px;
}

.title {
  height: 500px;
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media (max-width: 767px) {
  .title {
    height: 375px;
    background-image: url(../img/mainsp.jpg);
    padding-top: 65px;
  }
}

.title h1 {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 55px;
  padding-top: 90px;
}

@media (max-width: 1190px) {
  .title h1 {
    font-size: 23px;
    line-height: 47px;
  }
}

@media (max-width: 767px) {
  .title h1 {
    font-size: 18px;
    line-height: 28px;
    padding-top: 20px;
  }
}

.title img {
  height: 110px;
  margin-top: 0;
}

.title p {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 22px;
  padding-top: 43px;
}

@media (max-width: 1190px) {
  .title p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .title p {
    font-size: 15px;
    line-height: 16px;
  }
}

.recruit {
  height: 610px;
  background-color: #ebba4d;
  text-align: center;
}

@media (max-width: 1190px) {
  .recruit {
    height: 470px;
  }
}

@media (max-width: 767px) {
  .recruit {
    height: 525px;
  }
}

.recruit h1 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 33px;
  padding: 30px 0 6px 0;
}

@media (max-width: 1190px) {
  .recruit h1 {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .recruit h1 {
    font-size: 15px;
    line-height: 24px;
    padding: 15px 0 3px 0;
  }
}

.recruit .recruit-fee {
  color: #c8254e;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
}

@media (max-width: 1190px) {
  .recruit .recruit-fee {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .recruit .recruit-fee {
    font-size: 14px;
  }
}

.recruit .recruit-form {
  color: white;
  font-size: 27px;
  font-weight: bolder;
  letter-spacing: 2px;
  background-color: #db6b64;
  border-radius: 100px;
  padding: 30px 0;
  width: 1025px;
  margin: 50px auto 0 auto;
}

.recruit .recruit-form:hover {
  background-color: #d94940;
}

@media (max-width: 1190px) {
  .recruit .recruit-form {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 25px 0;
    width: auto;
    margin: 12px 85px 0 85px;
  }
}

@media (max-width: 767px) {
  .recruit .recruit-form {
    font-size: 19px;
    padding: 20px 0;
    margin: 30px 20px 0 20px;
  }
}

.recruit div {
  line-height: 50px;
  margin-top: 55px;
  margin-bottom: 20px;
}

@media (max-width: 1190px) {
  .recruit div {
    line-height: 40px;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .recruit div {
    margin-bottom: 25px;
  }
}

.recruit div .recruit-deadline {
  color: white;
  font-size: 21px;
  font-weight: bolder;
  letter-spacing: 2px;
}

@media (max-width: 1190px) {
  .recruit div .recruit-deadline {
    font-size: 18px;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  .recruit div .recruit-deadline {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
  }
}

.recruit .recruit-twitter {
  color: white;
  font-size: 12px;
  padding: 3px 3px 3px 7px;
  border-radius: 3px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #1b95e0;
}

.recruit .recruit-twitter:hover {
  background-color: #0d7abf;
}

.recruit .recruit-good {
  color: white;
  font-size: 12px;
  padding: 3px 3px 3px 7px;
  border-radius: 3px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #1877f2;
}

.recruit .recruit-share {
  color: white;
  font-size: 12px;
  padding: 3px 3px 3px 7px;
  border-radius: 3px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #1877f2;
  padding: 3px 7px;
}
/*# sourceMappingURL=style.css.map */