@media (min-width: 768px) {
  .br-767 {
    display: none;
  }
}

header {
  background-color: white;
  position: fixed;
  z-index: 3;
  width: 100%;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1180px;
  height: 70px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1190px) {
  header .header {
    width: auto;
  }
}

@media (max-width: 767px) {
  header .header {
    height: 65px;
    padding: 0;
  }
}

header .header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  header .header .header-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 10px;
  }
}

header .header .header-left img {
  height: 45px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  header .header .header-left img {
    height: 35px;
  }
}

header .header .header-left span {
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 17px;
}

@media (max-width: 1190px) {
  header .header .header-left span {
    font-size: 12px;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  header .header .header-left span {
    font-size: 10px;
    margin-top: 3px;
  }
}

header .header .header-right {
  margin-left: auto;
}

header .header .header-right span {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 12px 42px;
  border-radius: 100px;
  background-color: #db6b64;
  color: white;
}

header .header .header-right span:hover {
  background-color: #d94940;
}

@media (max-width: 1190px) {
  header .header .header-right span {
    font-size: 12px;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  header .header .header-right span {
    display: none;
  }
}

header .header .header-right .header-form {
  display: none;
  height: 65px;
  background-color: #db6b64;
}

header .header .header-right .header-form:hover {
  background-color: #d94940;
}

@media (max-width: 767px) {
  header .header .header-right .header-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .header .header-right .header-form img {
  width: 22px;
  margin: 10px auto 1px auto;
}

header .header .header-right .header-form p {
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0 10px;
}

.blank {
  height: 70px;
}

@media (max-width: 767px) {
  .blank {
    height: 65px;
  }
}

.title {
  height: 500px;
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media (max-width: 767px) {
  .title {
    height: 310px;
    background-image: url(../img/mainsp.jpg);
  }
}

.title h1 {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 55px;
  padding-top: 90px;
}

@media (max-width: 1190px) {
  .title h1 {
    font-size: 23px;
    line-height: 47px;
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .title h1 {
    font-size: 18px;
    line-height: 28px;
    padding-top: 20px;
  }
}

.title img {
  height: 110px;
  margin-top: 0;
}

.title p {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 22px;
  padding-top: 43px;
}

@media (max-width: 1190px) {
  .title p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .title p {
    font-size: 15px;
    line-height: 16px;
  }
}

.recruit {
  height: 610px;
  background-color: #ebba4d;
  text-align: center;
}

@media (max-width: 1190px) {
  .recruit {
    height: 470px;
  }
}

@media (max-width: 767px) {
  .recruit {
    height: 525px;
  }
}

.recruit h1 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 33px;
  padding: 30px 0 6px 0;
}

@media (max-width: 1190px) {
  .recruit h1 {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .recruit h1 {
    font-size: 15px;
    line-height: 24px;
    padding: 15px 0 3px 0;
  }
}

.recruit .recruit-fee {
  color: #c8254e;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
}

@media (max-width: 1190px) {
  .recruit .recruit-fee {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .recruit .recruit-fee {
    font-size: 14px;
  }
}

.recruit .recruit-form {
  color: white;
  font-size: 27px;
  font-weight: bolder;
  letter-spacing: 2px;
  background-color: #db6b64;
  border-radius: 100px;
  padding: 30px 0;
  width: 1025px;
  margin: 50px auto 0 auto;
}

.recruit .recruit-form:hover {
  background-color: #d94940;
}

@media (max-width: 1190px) {
  .recruit .recruit-form {
    font-size: 18px;
    letter-spacing: 1px;
    padding: 25px 0;
    width: auto;
    margin: 12px 85px 0 85px;
  }
}

@media (max-width: 767px) {
  .recruit .recruit-form {
    font-size: 19px;
    padding: 20px 0;
    margin: 30px 20px 0 20px;
  }
}

.recruit div {
  line-height: 50px;
  margin-top: 55px;
  margin-bottom: 20px;
}

@media (max-width: 1190px) {
  .recruit div {
    line-height: 40px;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .recruit div {
    margin-bottom: 25px;
  }
}

.recruit div .recruit-deadline {
  color: white;
  font-size: 21px;
  font-weight: bolder;
  letter-spacing: 2px;
}

@media (max-width: 1190px) {
  .recruit div .recruit-deadline {
    font-size: 18px;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  .recruit div .recruit-deadline {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
  }
}

.recruit .recruit-twitter {
  color: white;
  font-size: 12px;
  padding: 3px 3px 3px 7px;
  border-radius: 3px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #1b95e0;
}

.recruit .recruit-twitter:hover {
  background-color: #0d7abf;
}

.recruit .recruit-good {
  color: white;
  font-size: 12px;
  padding: 3px 3px 3px 7px;
  border-radius: 3px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #1877f2;
}

.recruit .recruit-share {
  color: white;
  font-size: 12px;
  padding: 3px 3px 3px 7px;
  border-radius: 3px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #1877f2;
  padding: 3px 7px;
}

.true-freedom {
  background-image: url(../img/introbottom.jpg);
  background-size: cover;
  background-position: center;
  height: 630px;
}

@media (max-width: 1190px) {
  .true-freedom {
    height: 595px;
  }
}

@media (max-width: 767px) {
  .true-freedom {
    height: 690px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.true-freedom .true-freedom-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  width: 890px;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
}

@media (max-width: 890px) {
  .true-freedom .true-freedom-top {
    width: auto;
  }
}

@media (max-width: 767px) {
  .true-freedom .true-freedom-top {
    padding-top: 30px;
  }
}

.true-freedom .true-freedom-top .brackets-1 {
  border-top: solid 4px #ebba4d;
  border-left: solid 4px #ebba4d;
  width: 50px;
  height: 50px;
}

@media (max-width: 767px) {
  .true-freedom .true-freedom-top .brackets-1 {
    width: 30px;
    height: 30px;
  }
}

.true-freedom .true-freedom-top h1 {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 40px;
}

@media (max-width: 1190px) {
  .true-freedom .true-freedom-top h1 {
    font-size: 23px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .true-freedom .true-freedom-top h1 {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin-top: 25px;
  }
}

.true-freedom .true-freedom-top .brackets-2 {
  border-bottom: solid 4px #ebba4d;
  border-right: solid 4px #ebba4d;
  width: 50px;
  height: 50px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .true-freedom .true-freedom-top .brackets-2 {
    width: 30px;
    height: 30px;
    margin-top: 90px;
  }
}

.true-freedom .true-freedom-main {
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 32px;
}

@media (max-width: 1190px) {
  .true-freedom .true-freedom-main {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  .true-freedom .true-freedom-main {
    font-size: 15px;
    letter-spacing: 0;
  }
}

.true-freedom .true-freedom-main p {
  margin: 30px 0;
}

@media (max-width: 1190px) {
  .true-freedom .true-freedom-main p {
    margin: 25px 0;
  }
}

@media (max-width: 767px) {
  .true-freedom .true-freedom-main p {
    margin: 30px 0;
  }
}

.true-freedom .true-freedom-main span {
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0%, #ebb94d));
  background: linear-gradient(transparent 70%, #ebb94d 0%);
}

.true-freedom .true-freedom-about {
  width: 80px;
  height: 80px;
  background-color: #e7b74c;
  border-radius: 100px;
  margin: 0 auto;
  text-align: center;
  padding-top: 27px;
  margin-top: 120px;
  color: white;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

@media (max-width: 1190px) {
  .true-freedom .true-freedom-about {
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  .true-freedom .true-freedom-about {
    width: 65px;
    height: 65px;
    font-size: 14px;
    padding-top: 22px;
    margin-top: 50px;
  }
}

.whats-isara {
  background-color: #fef5e0;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-bottom: 70px;
}

.whats-isara .whats-isara-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 20px 0 20px;
  width: 850px;
  margin: 0 auto;
}

@media (max-width: 1190px) {
  .whats-isara .whats-isara-top {
    padding-top: 55px;
  }
}

@media (max-width: 851px) {
  .whats-isara .whats-isara-top {
    width: auto;
  }
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-top {
    padding-top: 80px;
  }
}

.whats-isara .whats-isara-top .brackets-1 {
  border-top: solid 4px #ebba4d;
  border-left: solid 4px #ebba4d;
  width: 50px;
  height: 50px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-top .brackets-1 {
    width: 30px;
    height: 30px;
  }
}

.whats-isara .whats-isara-top h1 {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-top: 60px;
  line-height: 40px;
}

@media (max-width: 1190px) {
  .whats-isara .whats-isara-top h1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-top h1 {
    font-size: 17px;
    padding-top: 20px;
  }
}

.whats-isara .whats-isara-top .brackets-2 {
  border-bottom: solid 4px #ebba4d;
  border-right: solid 4px #ebba4d;
  width: 50px;
  height: 50px;
  margin-top: 115px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-top .brackets-2 {
    width: 30px;
    height: 30px;
    margin-top: 90px;
  }
}

.whats-isara p {
  font-size: 21px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 30px;
}

@media (max-width: 1190px) {
  .whats-isara p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .whats-isara p {
    font-size: 15px;
    margin-top: -14px;
    margin-bottom: 33px;
  }
}

.whats-isara .whats-isara-main {
  background-color: white;
  width: 1170px;
  margin: 0 auto;
  border: solid #ebba4d 2px;
  border-radius: 5px;
}

@media (max-width: 1190px) {
  .whats-isara .whats-isara-main {
    width: auto;
    margin: 0 20px;
  }
}

.whats-isara .whats-isara-main h1 {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 35px;
}

@media (max-width: 1190px) {
  .whats-isara .whats-isara-main h1 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main h1 {
    font-size: 15px;
    margin-top: 10px;
    line-height: 24px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills {
  margin-top: 35px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills {
    margin-top: 17px;
    margin-bottom: -10px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-1 {
  margin: 0 15px;
  margin-top: 2px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-1 {
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-1 img {
    width: 32px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-1 p {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 12px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-1 p {
    font-size: 10px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-2 {
  margin: 0 15px;
  margin-top: -11px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-2 {
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-2 img {
    width: 32px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-2 p {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 12px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-2 p {
    font-size: 10px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-3 {
  margin: 0 15px;
  margin-top: 0;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-3 {
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-3 img {
    width: 25px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-3 p {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 12px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-3 p {
    font-size: 10px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-4 {
  margin: 0 15px;
  margin-top: 6px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-4 {
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-4 img {
    width: 32px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-4 p {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 12px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-4 p {
    font-size: 10px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-5 {
  margin: 0 15px;
  margin-top: 9px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-5 {
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-5 img {
    width: 80px;
  }
}

.whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-5 p {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 12px;
}

@media (max-width: 767px) {
  .whats-isara .whats-isara-main .whats-isara-slills .whats-isara-skills-5 p {
    font-size: 10px;
  }
}

.dont-teach {
  background-image: url(../img/aboutsecondbg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.dont-teach h1 {
  color: white;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-top: 65px;
}

@media (max-width: 1190px) {
  .dont-teach h1 {
    font-size: 23px;
  }
}

@media (max-width: 767px) {
  .dont-teach h1 {
    font-size: 17px;
    padding-top: 50px;
  }
}

.dont-teach h2 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 26px;
}

@media (max-width: 1190px) {
  .dont-teach h2 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .dont-teach h2 {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 22px;
  }
}

.dont-teach h3 {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 18px;
}

@media (max-width: 1190px) {
  .dont-teach h3 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .dont-teach h3 {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 15px;
  }
}

.dont-teach h3 span {
  color: #ebba4d;
}

.dont-teach .dont-teach-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
  padding-bottom: 20px;
}

@media (max-width: 1190px) {
  .dont-teach .dont-teach-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .dont-teach .dont-teach-steps {
    padding-bottom: 35px;
  }
}

.dont-teach .dont-teach-steps .dont-teach-step {
  background-color: white;
  margin: 0 10px 20px 10px;
  width: 370px;
  height: 175px;
  border-radius: 5px;
}

@media (max-width: 1190px) {
  .dont-teach .dont-teach-steps .dont-teach-step {
    margin: 0 31% 20px 31%;
    width: auto;
    height: 170px;
  }
}

@media (max-width: 767px) {
  .dont-teach .dont-teach-steps .dont-teach-step {
    margin: 0 33px 15px 33px;
    height: 110px;
  }
}

.dont-teach .dont-teach-steps .dont-teach-step h4 {
  color: white;
  background-color: #ebba4d;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 30px;
  margin-bottom: 0;
  padding: 2px 0;
  border-radius: 5px;
}

@media (max-width: 1190px) {
  .dont-teach .dont-teach-steps .dont-teach-step h4 {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .dont-teach .dont-teach-steps .dont-teach-step h4 {
    font-size: 14px;
    margin: 15px 50px 0 50px;
  }
}

.dont-teach .dont-teach-steps .dont-teach-step h5 {
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 33px;
}

@media (max-width: 1190px) {
  .dont-teach .dont-teach-steps .dont-teach-step h5 {
    font-size: 12px;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  .dont-teach .dont-teach-steps .dont-teach-step h5 {
    margin-top: 19px;
  }
}

.dont-teach .dont-teach-steps .dont-teach-step h6 {
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 20px;
}

@media (max-width: 1190px) {
  .dont-teach .dont-teach-steps .dont-teach-step h6 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .dont-teach .dont-teach-steps .dont-teach-step h6 {
    font-size: 12px;
    margin-top: 11px;
  }
}

.other-than-skill {
  text-align: center;
  background-color: #016eaa;
  padding: 40px 0 20px 0;
}

@media (max-width: 1190px) {
  .other-than-skill {
    padding-top: 35px;
  }
}

@media (max-width: 767px) {
  .other-than-skill {
    padding: 21px 0 5px 0;
  }
}

.other-than-skill p {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 33px;
}

@media (max-width: 1190px) {
  .other-than-skill p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .other-than-skill p {
    font-size: 12px;
    line-height: 19px;
  }
}

.other-than-skill p span {
  color: #ebba4d;
}

.whats-learning {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 35px;
}

@media (max-width: 767px) {
  .whats-learning {
    padding-top: 50px;
    padding-bottom: 13px;
  }
}

.whats-learning h1 {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
}

@media (max-width: 1190px) {
  .whats-learning h1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .whats-learning h1 {
    font-size: 18px;
  }
}

.whats-learning h1 span {
  font-size: 15px;
}

@media (max-width: 1190px) {
  .whats-learning h1 span {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .whats-learning h1 span {
    font-size: 12px;
  }
}

.whats-learning h2 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 48px;
}

@media (max-width: 1190px) {
  .whats-learning h2 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .whats-learning h2 {
    font-size: 15px;
    line-height: 25px;
  }
}

.whats-learning .whats-learning-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

@media (max-width: 1190px) {
  .whats-learning .whats-learning-skills {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .whats-learning .whats-learning-skills {
    margin: 0 50px;
    margin-top: 15px;
  }
}

.whats-learning .whats-learning-skills img {
  width: 180px;
  margin: 0 20px;
}

@media (max-width: 882px) {
  .whats-learning .whats-learning-skills img {
    width: 20%;
  }
}

@media (max-width: 767px) {
  .whats-learning .whats-learning-skills img {
    margin: auto;
  }
}

.whats-learning p {
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 40px;
}

@media (max-width: 1190px) {
  .whats-learning p {
    font-size: 14px;
    margin-top: 55px;
  }
}

@media (max-width: 767px) {
  .whats-learning p {
    font-size: 12px;
    margin-top: 23px;
  }
}

.merit {
  background-color: #fef5e0;
  padding-top: 43px;
}

@media (max-width: 1190px) {
  .merit {
    padding-top: 30px;
  }
}

.merit .merit-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 880px;
  margin: 0 auto;
}

@media (max-width: 1014px) {
  .merit .merit-top {
    width: auto;
    margin: 0 70px;
  }
}

@media (max-width: 767px) {
  .merit .merit-top {
    margin: 0 20px;
  }
}

.merit .merit-top .brackets-1 {
  border-top: solid 4px #ebba4d;
  border-left: solid 4px #ebba4d;
  width: 50px;
  height: 50px;
}

@media (max-width: 767px) {
  .merit .merit-top .brackets-1 {
    width: 30px;
    height: 30px;
  }
}

.merit .merit-top .merit-top-title {
  text-align: center;
}

.merit .merit-top .merit-top-title h1 {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 30px;
}

@media (max-width: 1190px) {
  .merit .merit-top .merit-top-title h1 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .merit .merit-top .merit-top-title h1 {
    font-size: 15px;
  }
}

.merit .merit-top .merit-top-title h2 {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 10px;
}

@media (max-width: 1190px) {
  .merit .merit-top .merit-top-title h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .merit .merit-top .merit-top-title h2 {
    font-size: 19px;
    margin-top: 20px;
  }
}

.merit .merit-top .brackets-2 {
  border-bottom: solid 4px #ebba4d;
  border-right: solid 4px #ebba4d;
  width: 50px;
  height: 50px;
  margin-top: 70px;
}

@media (max-width: 767px) {
  .merit .merit-top .brackets-2 {
    width: 30px;
    height: 30px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .merit .merit-top .brackets-2 {
    margin-top: 100px;
  }
}

.merit .merit-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

@media (max-width: 1190px) {
  .merit .merit-main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 80px;
    margin-left: 80px;
  }
}

@media (max-width: 1061px) {
  .merit .merit-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .merit .merit-main {
    margin-top: 3px;
    margin-bottom: 20px;
  }
}

.merit .merit-main .merit-main-merit {
  width: 360px;
  margin: 0 15px;
}

@media (max-width: 1190px) {
  .merit .merit-main .merit-main-merit {
    width: 300px;
    margin: 0;
  }
}

.merit .merit-main .merit-main-merit img {
  width: 100%;
}

.merit .merit-main .merit-main-merit h1 {
  color: #ebba4d;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 13px;
}

@media (max-width: 1190px) {
  .merit .merit-main .merit-main-merit h1 {
    text-align: center;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .merit .merit-main .merit-main-merit h1 {
    font-size: 15px;
  }
}

.merit .merit-main .merit-main-merit p {
  letter-spacing: 2px;
  margin-top: 13px;
}

@media (max-width: 1190px) {
  .merit .merit-main .merit-main-merit p {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .merit .merit-main .merit-main-merit p {
    font-size: 12px;
  }
}

.merit .merit-support {
  background-color: white;
  text-align: center;
  width: 1150px;
  margin: 0 auto;
  border: solid #ebba4d 2px;
  border-radius: 5px;
}

@media (max-width: 1190px) {
  .merit .merit-support {
    width: auto;
    margin: 0 70px;
  }
}

@media (max-width: 767px) {
  .merit .merit-support {
    margin: 0 20px;
  }
}

.merit .merit-support h1 {
  color: #ebba4d;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 45px;
}

@media (max-width: 1190px) {
  .merit .merit-support h1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .merit .merit-support h1 {
    font-size: 18px;
    margin-top: 15px;
  }
}

.merit .merit-support h2 {
  font-size: 19px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 20px;
}

@media (max-width: 1190px) {
  .merit .merit-support h2 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .merit .merit-support h2 {
    font-size: 15px;
    line-height: 25px;
  }
}

.merit .merit-support p {
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 2px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 45px;
}

@media (max-width: 1190px) {
  .merit .merit-support p {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .merit .merit-support p {
    font-size: 10px;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 20px;
  }
}

.merit .merit-bottom {
  padding: 40px 0 30px 0;
}

@media (max-width: 767px) {
  .merit .merit-bottom {
    padding: 15px 0 20px 0;
  }
}

.merit .merit-bottom p {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
}

@media (max-width: 1190px) {
  .merit .merit-bottom p {
    font-size: 12px;
  }
}

.founding {
  text-align: center;
  background-image: url(../img/teacherbg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 90px;
  padding-bottom: 45px;
}

@media (max-width: 1190px) {
  .founding {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .founding {
    background-image: url(../img/teacherbgsp.jpg);
    padding-top: 70px;
    padding-bottom: 20px;
  }
}

.founding h1 {
  color: white;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
}

@media (max-width: 1190px) {
  .founding h1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .founding h1 {
    font-size: 18px;
  }
}

.founding p {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 35px;
}

@media (max-width: 1190px) {
  .founding p {
    font-size: 14px;
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .founding p {
    font-size: 12px;
    margin-top: 42px;
  }
}

.founding .founding-members .founding-members-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  margin: 0 auto;
  margin-top: 200px;
}

@media (max-width: 991px) {
  .founding .founding-members .founding-members-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin-top: 0;
  }
}

.founding .founding-members .founding-members-block .founding-members-member {
  width: 50%;
  border: solid white 3px;
  margin: 0 15px;
}

@media (max-width: 991px) {
  .founding .founding-members .founding-members-block .founding-members-member {
    width: auto;
    margin: 0 50px;
    margin-top: 200px;
  }
}

@media (max-width: 767px) {
  .founding .founding-members .founding-members-block .founding-members-member {
    margin: 0 10px;
    margin-top: 115px;
  }
}

.founding .founding-members .founding-members-block .founding-members-member img {
  border-radius: 100px;
  margin-top: -165px;
}

@media (max-width: 767px) {
  .founding .founding-members .founding-members-block .founding-members-member img {
    width: 120px;
    margin-top: -87px;
  }
}

.founding .founding-members .founding-members-block .founding-members-member p {
  margin: 10px 40px 10px 40px;
}

@media (max-width: 767px) {
  .founding .founding-members .founding-members-block .founding-members-member p {
    font-size: 12px;
    margin: 10px;
  }
}

.founding .founding-members .founding-members-block .founding-members-member .founding-members-member-message {
  text-align: left;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .founding .founding-members .founding-members-block .founding-members-member .founding-members-member-message {
    margin-bottom: 20px;
  }
}

.question {
  background-color: #ebba4d;
  padding-top: 40px;
  padding-bottom: 25px;
}

@media (max-width: 767px) {
  .question {
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

.question h1 {
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin: 0 auto;
  font-size: 15px;
  letter-spacing: 2px;
  color: #ebba4d;
  text-align: center;
  padding-top: 29px;
}

@media (max-width: 1190px) {
  .question h1 {
    font-size: 23px;
    padding-top: 26px;
  }
}

@media (max-width: 767px) {
  .question h1 {
    width: 60px;
    height: 60px;
    font-size: 14px;
    padding-top: 22px;
  }
}

.question .question-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 910px;
  margin: 0 auto;
}

@media (max-width: 909px) {
  .question .question-main {
    width: auto;
  }
}

.question .question-main .brackets-1 {
  border-top: solid 4px white;
  border-left: solid 4px white;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .question .question-main .brackets-1 {
    width: 30px;
    height: 30px;
  }
}

.question .question-main p {
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-top: 17px;
}

@media (max-width: 1190px) {
  .question .question-main p {
    font-size: 18px;
    padding-top: 23px;
  }
}

@media (max-width: 767px) {
  .question .question-main p {
    font-size: 14px;
    padding-top: 20px;
    line-height: 40px;
  }
}

.question .question-main .brackets-2 {
  border-bottom: solid 4px white;
  border-right: solid 4px white;
  width: 50px;
  height: 50px;
  margin-top: 65px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .question .question-main .brackets-2 {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .question .question-main .brackets-2 {
    margin-top: 80px;
  }
}

.answer {
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .answer {
    padding: 0;
  }
}

.answer .triangle {
  border-top: solid 25px #ebba4d;
  border-right: solid 25px transparent;
  border-bottom: solid 25px transparent;
  border-left: solid 25px transparent;
  width: 0;
  height: 0;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .answer .triangle {
    border-top: solid 15px #ebba4d;
    border-right: solid 15px transparent;
    border-bottom: solid 15px transparent;
    border-left: solid 15px transparent;
  }
}

.answer h1 {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 2px;
}

@media (max-width: 1190px) {
  .answer h1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .answer h1 {
    font-size: 18px;
  }
}

.answer h2 {
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-top: 20px;
}

@media (max-width: 1190px) {
  .answer h2 {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .answer h2 {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

.answer h3 {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 38px;
}

@media (max-width: 1190px) {
  .answer h3 {
    font-size: 12px;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  .answer h3 {
    line-height: 19px;
  }
}

.answer .answer-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 780px;
  margin: 33px auto 40px auto;
}

@media (max-width: 991px) {
  .answer .answer-person {
    width: auto;
    margin: 33px 20px 40px 20px;
  }
}

@media (max-width: 767px) {
  .answer .answer-person {
    margin: 33px 10px 40px 10px;
  }
}

.answer .answer-person img {
  width: 230px;
  border: solid #ebba4d 3px;
}

@media (max-width: 991px) {
  .answer .answer-person img {
    width: 30%;
    margin-bottom: auto;
  }
}

.answer .answer-person .answer-person-message {
  text-align: left;
  padding: 20px 0 20px 30px;
  color: #777777;
  font-style: italic;
  font-size: 17px;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  .answer .answer-person .answer-person-message {
    padding: 0 0 0 15px;
    font-size: 14px;
  }
}

.answer .answer-person .answer-person-message .answer-person-message-bottom {
  display: inline;
  font-size: 15px;
  border-bottom: solid #777777 1px;
}

.learn-content {
  background-image: url(../img/classbg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.learn-content h1 {
  color: white;
}

.learn-content p {
  color: white;
}

.learn-content .learn-content-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.learn-content .learn-content-lists .learn-content-list {
  background-color: white;
}

.learn-content .learn-content-lists .learn-content-list h1 {
  background-color: #016eaa;
}

.learn-content .learn-content-lists .learn-content-list p {
  color: black;
}
/*# sourceMappingURL=style.css.map */